* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: #1e293b;
	font-family: sans-serif;
	min-height: 100%;
}
.logo {
	text-align: left;
	color: #e8e8e8;
}
.links {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: -1.5rem;
	margin-bottom: 0.25rem;
	margin-left: 4.5rem;
}

a {
	text-decoration: none;
	color: #e8e8e8;
	margin-right: 80px;

}

.header {
	padding-inline: 1rem;
	padding-block: 0.75rem;
}
.line {
	border: 5px solid #00591f;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 3px;
}
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 1rem;
	color: #e8e8e8;
}
h2 {
	font-size: 2.15rem;
	margin-bottom: 1rem;
	text-decoration: underline;
	text-decoration-thickness: 0.09rem;
}
.imglinks {
	margin-top: 1.5rem;
	margin-left: 4.4rem;
	margin-bottom: 1.5rem;
}
.cardbackground {
	background-color: #354872;
	width: 40rem;
	height: auto;
	border-radius: 1rem;
	position: absolute;
	right: 40rem;
	left: 40rem;
	top: 11rem;
	border: 1px solid #15202d;
}
.cardbackground2 {
	background-color: #1e2e42;
	width: 38rem;
	height: auto;
	border-radius: 1rem;
	top: 11rem;
	border: 2px solid #15202d;
}
.cardtext {
	color: #e8e8e8;
	margin-top: 1rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	line-height: 1.4rem;
	margin-bottom: 1rem;
}
.socialtitle {

}
/*	colors: #1e2e42	#15202d #e8e8e8*/